$primary: #fcc201;
$text-color-bbg: #fff;
$text-color-wbg: #191919;
$background: #191919;
$background-white: #f5f5f5;
$secondary: #2f2f2f;
$tertiary: #464646;
$text-color-gray-light: #b2b2b2;
$gray: #707070;
