* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #191919;
    padding-bottom: 80px;
}

@media screen and (max-width: 260px) {
    body {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}
