@use '../util/breakpoints.scss' as *;
@use '../util/colors.scss' as *;

.audio-player-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 74px;
    background-color: $background;
    box-shadow: 0;
    z-index: 99;
    box-shadow: 0px -7px 13px 0px rgba(0, 0, 0, 0.4);
    padding: 8px 4%;

    .close {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);

        .icon {
            font-size: 1.4rem;
            color: #fff;
            cursor: pointer;
        }
    }

    .audio-player-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-side {
            display: flex;
            align-items: center;
            position: relative;

            img {
                width: 60px;
                border-radius: 4px;

                @include breakpoint-down(medium-small) {
                    display: none;
                }
            }

            .song-info {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 12px;
                color: $text-color-bbg;

                @include breakpoint-down(medium-small) {
                    font-size: 0.8rem;
                }

                .song-title {
                    font-weight: 600;
                    color: $text-color-bbg;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .song-artist {
                    font-size: 0.9rem;

                    @include breakpoint-down(medium-small) {
                        display: none;
                    }
                }
            }

            .buy-now-player {
                position: relative;
                outline: none;
                border: none;
                padding: 6px 10px;
                background-color: $primary;
                margin-left: 8px;
                border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &.incart {
                    background-color: $secondary;
                }

                @include breakpoint-down(small) {
                    display: none;
                }
            }
        }

        .middle {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .controls {
                position: relative;
                display: flex;
                align-items: center;

                .icon {
                    width: 26px;
                    height: 26px;
                    margin: 0 6px;
                    cursor: pointer;
                    color: $text-color-bbg;

                    &.smaller {
                        width: 20px;
                        height: 20px;
                    }

                    &.big {
                        width: 36px;
                        height: 36px;

                        @keyframes clicked {
                            0% {
                                transform: scale(1);
                            }

                            100% {
                                transform: scale(1.04);
                            }
                        }

                        animation: clicked 0.2s;
                    }

                    &:hover {
                        fill: $primary;
                    }
                }

                .remove {
                    @include breakpoint-down(small) {
                        display: none;
                    }
                }
            }

            .play-time {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .progress-bar-range {
                    position: relative;
                    width: 500px;
                    height: 2px;
                    transition: all 0.2s ease;

                    &:hover {
                        .timeline {
                            &::-webkit-slider-thumb {
                                visibility: visible;
                            }
                        }
                    }

                    @include breakpoint-down(medium) {
                        width: 40vw;
                    }

                    @include breakpoint-down(small) {
                        width: 50vw;
                    }

                    .timeline {
                        position: relative;
                        top: -15px;
                        appearance: none;
                        width: 100%;
                        height: 100%;
                        background-color: $background-white;
                        transition: all 0.2s ease;
                        border-radius: 10px;

                        &::-webkit-slider-thumb {
                            visibility: hidden;
                            appearance: none;
                            background-color: $primary;
                            width: 10px;
                            height: 10px;
                            cursor: pointer;
                            border-radius: 50%;
                            z-index: 99;
                        }
                    }

                    .progress-bar {
                        background-color: $primary;
                        left: 0;
                        height: 2px;
                        display: block;
                        position: absolute;
                        border-radius: 10px;
                        // top: 55%;
                        top: -1px;
                        transform: translateY(-50%);
                        z-index: 1;
                        user-select: none;
                        pointer-events: none;
                        transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
                    }
                }

                .timeline-time {
                    margin: 0 6px;
                    font-size: 0.9rem;
                    color: $text-color-bbg;
                }
            }
        }

        .right-side {
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                .volume-slider {
                    background-color: $primary;
                }
            }

            @include breakpoint-down(small) {
                display: none;
            }

            .icon {
                width: 28px;
                height: 28px;
                cursor: pointer;
                color: $text-color-bbg;
            }

            .progress-bar-range {
                position: relative;
                width: 100px;
                height: 2px;

                &:hover {
                    .timeline {
                        &::-webkit-slider-thumb {
                            visibility: visible;
                        }
                    }
                }

                .timeline {
                    position: relative;
                    top: -15px;
                    appearance: none;
                    width: 100%;
                    height: 100%;
                    background-color: $background-white;
                    border-radius: 10px;

                    &::-webkit-slider-thumb {
                        visibility: hidden;
                        appearance: none;
                        background-color: $primary;
                        width: 10px;
                        height: 10px;
                        cursor: pointer;
                        border-radius: 50%;
                        z-index: 99;
                    }
                }

                .progress-bar {
                    background-color: $primary;
                    left: 0;
                    height: 2px;
                    display: block;
                    position: absolute;
                    border-radius: 10px;
                    // top: 55%;
                    top: -1px;
                    transform: translateY(-50%);
                    z-index: 1;
                    user-select: none;
                    pointer-events: none;
                }
            }
        }
    }
}
