@use "../util/colors.scss" as *;

.promotion-bar {
    position: fixed;
    width: 100%;
    background-color: $primary;
    color: #fff;
    top: 0;
    padding: 10px 0;
    z-index: 99;
    transition: 0.3s;

    @media screen and (max-width: 870px) {
        padding: 10px 60px;
    }

    @media screen and (max-width: 445px) {
        padding: 10px 10px;
    }

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    h3 {
        text-align: center;
        font-size: 1rem;

        @media screen and (max-width: 445px) {
            text-align: left;
        }
    }

    .remove {
        position: absolute;
        font-size: 2rem;
        fill: #fff;
        right: 4%;
        top: 4px;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }
}
