@use "../../util/colors.scss" as *;
@use "../../util/boilerplate.scss" as *;
@use "../../util/breakpoints.scss" as *;

.buynow-container {
    margin-top: -4em;
    padding: 6em 4%;
    background-color: $background;
    color: $text-color-bbg;
    text-align: center;

    h2 {
        font-size: 2rem;
        font-weight: 800;
    }

    h4 {
        font-size: 1.1rem;
        font-weight: 400;
    }

    .steps {
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint-down(small) {
            flex-direction: column;
        }

        .step {
            width: 300px;
            margin: 0 10px;
            margin-top: 24px;

            @media screen and (max-width: 420px) {
                margin: 0;
                padding: 0 4%;

                span {
                    font-size: 1.2rem;
                }

                h3 {
                    font-size: 1rem;
                }

                p {
                    font-size: 0.9rem;
                }
            }

            span {
                font-size: 2.6rem;
                font-weight: 400;
            }

            h3 {
                font-size: 1.66rem;
                margin: 8px 0;
                font-weight: 800;
                font-family: $font-secondary;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}
