@use "../../util/colors.scss" as *;

.buy-now-container {
    max-width: 2560px;
    background-color: $background-white;
    margin: auto;
    padding: 3em 4%;

    .grid {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            max-width: 400px;
            font-size: 1.2rem;
            font-weight: 300;
        }

        @media screen and (max-width: 870px) {
            img {
                width: 40% !important;
            }
        }

        @media screen and (max-width: 480px) {
            flex-direction: column;

            span {
                margin-top: 14px;
                text-align: center;
                font-size: 0.9rem;
            }

            img {
                width: 60% !important;
            }
        }

        img {
            width: 340px;
        }
    }

    .left {
        @media screen and (max-width: 480px) {
            flex-direction: column-reverse;
            margin-bottom: 2em;
        }

        img {
            margin-left: 1em;
        }
    }

    .right {
        margin-top: 18px;

        img {
            margin-right: 1em;
        }
    }
}
