@use '../../util/colors.scss' as *;

.get-beats-container {
    position: relative;
    width: 100%;
    height: 80vh;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.6) saturate(2);
        z-index: -1;
    }

    .text {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1 {
            color: #fff;
            font-size: 3.4vw;
        }

        button {
            background-color: $primary;
            margin-top: 12px;
            padding: 8px 12px;
            border-radius: 6px;
            border: none;
            color: #fff;
            font-size: 1.2rem;
            font-weight: 600;
            cursor: pointer;
        }
    }
}
