@use "../../util/colors.scss" as *;
@use "../../util/breakpoints.scss" as *;

.license-help-container {
    padding: 0 4%;
    max-width: 2560px;
    margin: auto;

    .license-wrapper {
        color: $text-color-bbg;

        h2 {
            font-size: 2rem;
            font-weight: 800;
            margin: 22px 0 12px 0;
        }

        .licences {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include breakpoint-down(medium) {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                justify-content: flex-start;
                gap: 12px;
            }

            .license {
                background-color: $secondary;
                border-radius: 8px;
                padding: 18px 24px;
                margin: 0 10px;
                width: 400px;
                height: 420px;
                max-height: 420px;
                overflow-y: auto;

                @media screen and (min-width: 1920px) {
                    width: 100%;
                }

                @include breakpoint-down(medium) {
                    width: auto;
                    margin: 0;
                }

                &.favorite {
                    background-color: $primary;
                }

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                .license-title {
                    font-size: 2rem;
                    font-weight: 800;

                    &.price {
                        font-size: 1.5rem;
                        font-weight: 400;
                    }
                }

                .license-description {
                    margin: 22px 0;
                    font-size: 1rem;
                    font-weight: 400;
                }

                ul {
                    list-style: none;

                    li {
                        display: flex;
                        flex-direction: column;

                        .license-option {
                            font-size: 1rem;
                            font-weight: 400;

                            &.disabled {
                                text-decoration: line-through;
                                color: $text-color-gray-light;
                            }
                        }
                    }
                }
            }
        }
    }
}
