@use "../../util/colors.scss" as *;
@use "../../util/boilerplate.scss" as *;
@use "../../util/breakpoints.scss" as *;

.music-platforms-container {
    position: relative;
    margin: auto;
    max-width: 2560px;
    margin-top: 2em;
    padding: 13em 4%;
    background-color: $background-white;
    clip-path: polygon(0 16%, 100% 0, 100% 100%, 0% 100%);
    height: 700px;

    @media screen and (max-width: 1149px) {
        height: 750px;
    }

    @include breakpoint-down(small) {
        height: 600px;
    }

    h2 {
        font-size: 2.8rem;
        max-width: 600px;
        font-weight: 900;
        font-family: $font-secondary;

        @include breakpoint-down(medium) {
            font-size: 4vw;
            max-width: 100%;
            text-align: center;
            margin-top: 148px;
        }

        @media screen and (max-width: 980px) {
            margin-top: 220px;
        }

        @include breakpoint-down(small) {
            margin-top: 40%;
            font-size: 2rem;
        }
    }

    h4 {
        font-size: 1.2rem;
        font-weight: 400;
        font-family: $font-secondary;
        max-width: 44%;

        @include breakpoint-down(medium) {
            text-align: center;
            font-size: 3vw;
            max-width: 100%;
        }

        @include breakpoint-down(small) {
            font-size: 1.2rem;
        }

        @media screen and (max-width: 440px) {
            margin-top: 8px;
            font-size: 1.4rem;
        }
    }

    img {
        width: 60%;
    }

    .laptop {
        position: absolute;
        right: 42px;
        top: 62px;
        width: 600px;
        z-index: -1;
        pointer-events: none;

        @media screen and (max-width: 1350px) {
            width: 540px;
            top: 110px;
        }

        @include breakpoint-down(medium) {
            top: 10%;
            left: 50%;
            width: 40%;
            transform: translateX(-50%);
        }

        @include breakpoint-down(medium-small) {
            top: 12%;
            width: 60%;
        }

        @include breakpoint-down(small) {
            width: 100%;
        }

        @media screen and (max-width: 440px) {
            margin-top: 10%;
        }
    }

    .infinite-scroll-container {
        position: absolute;
        left: 0;
        bottom: 110px;
        width: 100%;
        overflow: hidden;

        @media screen and (max-width: 1149px) {
            bottom: 8% !important;
        }

        @media screen and (max-width: 640px) {
            display: none;
        }

        .infinite-scroll {
            .element {
                margin: 0 80px;

                @include breakpoint-down(small) {
                    margin: 0 40px;
                }

                img {
                    width: 180px;

                    @include breakpoint-down(small) {
                        width: 120px;
                    }
                }
            }
        }
    }
}
