.edit-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.9);
    display: flex;
    justify-content: center;
    align-items: center;

    .edit-wrapper {
        position: relative;
        background-color: #fff;
        border-radius: 8px;
        height: calc(100% - 4em);
        overflow-y: auto;
        animation: open 0.2s ease-in-out;

        @keyframes open {
            0% {
                transform: scale(0.5);
                opacity: 0;
            }

            100% {
                transform: scale(1);
                opacity: 1;
            }
        }

        .top-bar {
            position: relative;

            h1 {
                padding-left: 14px;
            }

            .image {
                position: relative;
                width: 840px;
                height: 540px;
                cursor: pointer;

                &:hover {
                    img {
                        filter: brightness(0.7);
                    }

                    .photo {
                        display: block;
                    }
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;
                }
            }

            .photo {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                width: 100px;
                height: 100px;
                z-index: 20;
                display: none;
            }
        }

        .edit-inputs {
            padding: 14px;

            .row {
                display: flex;
                flex-direction: column;
                margin: 14px 0;

                span {
                    font-size: 1.3rem;
                    margin: 4px 0;
                }

                input[type='text'] {
                    padding: 8px;
                    background: none;
                    border: 1px solid gray;
                    outline: none;
                    border-radius: 4px;
                }
            }
        }

        .close {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            font-size: 2rem;
            width: 32px;
            height: 32px;
            color: #fff;
            border-radius: 50%;

            &:hover {
                color: #000000;
            }
        }
    }
}

button {
    padding: 8px 0;
    font-size: 1rem;
    cursor: pointer;
}

.notification-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 12px;
    color: #fff;
    border-radius: 4px;
    background-color: lightblue;
    bottom: 12px;
}
