@use "../../util/colors.scss" as *;

.beat-card-container {
    position: relative;
    overflow: hidden;

    .beat-image {
        position: relative;
        cursor: pointer;
        display: block;

        &:hover {
            img {
                filter: brightness(0.8);
            }

            .play {
                visibility: visible;
                opacity: 1;
            }
        }

        img {
            display: block;
            border-radius: 8px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
            transition: 0.28s cubic-bezier(0.19, 1, 0.22, 1);
        }

        .play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 68px;
            height: 68px;
            color: $text-color-bbg;
            pointer-events: none;
            visibility: hidden;
            opacity: 0;
            transition: 0.28s cubic-bezier(0.19, 1, 0.22, 1);
            z-index: 1;

            &:hover {
                width: 76px;
                height: 76px;
            }
        }
    }

    .bottom-bar {
        color: $text-color-bbg;
        overflow: hidden;
        text-overflow: ellipsis;

        .info {
            .key,
            .bpm {
                margin-left: 8px;
                color: $gray;
                font-size: 0.84rem;
            }
        }

        .price {
            color: $primary;
            font-size: 1.1rem;
        }

        .title {
            font-size: 1.2rem;
            transition: 0.1s ease;
            text-decoration: none;
            color: $text-color-bbg;

            &:hover {
                color: $primary;
            }
        }
    }
}

.slick-list {
    margin: 0 -5px;
}
.slick-slide > div {
    padding: 0 5px;
}

.slick-slide img {
    width: 100%;
}
