@use "../../util/colors.scss" as *;
@use "../../util/boilerplate.scss" as *;

.beat-row-container {
    margin-top: 20px;
    padding: 0 4%;

    &.all {
        padding: 0 4%;

        .beats-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
            gap: 8px;
            row-gap: 38px;

            @media screen and (max-width: 400px) {
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            }
        }

        .search {
            display: flex;
            align-items: center;
            width: 40%;
            background: #fbfbfb;
            margin-bottom: 18px;
            border-radius: 20px;
            padding: 4px 8px;

            @media screen and (max-width: 800px) {
                width: 100%;
            }

            .search-input {
                background: none;
                outline: none;
                border: none;
                width: 100%;
                font-size: 1.14rem;
                padding: 4px 0;
                margin-left: 4px;
            }

            .icon {
                font-size: 1.7rem;
                cursor: pointer;

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    .beat-row-wrapper {
        .title-category {
            margin: 12px 0;
            color: $text-color-bbg;
            text-decoration: none;
            letter-spacing: 1.04px;
            font-size: 1.6rem;
            transition: 0.2s ease;
            display: inline-flex;
            align-items: center;
            overflow: hidden;

            @media screen and (max-width: 360px) {
                font-size: 2rem;
            }

            .icon {
                position: relative;
                top: 2px;
                visibility: hidden;
                opacity: 0;
                transform: translateX(100%);
                transition: 0.2s ease-in-out;
                color: $gray;
                width: 20px;
                height: 20px;
                margin-left: 4px;
            }

            &:hover {
                color: $gray;

                .icon {
                    visibility: visible;
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }

        .beats-container {
            position: relative;
            // overflow: hidden;
        }
    }
    .not-found {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 400;
        color: $text-color-gray-light;
    }
}

.arrow-slider {
    position: absolute;
    top: 36%;
    transform: translateY(-50%, -50%);
    font-size: 2.48rem;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    transition: 0.2s all;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(1.2);
    }

    &.left {
        left: -38px;
    }

    &.right {
        right: -38px;
    }
}
