@use "../../util/colors.scss" as *;
@use "../../util/breakpoints.scss" as *;

.top-bar-container {
    background-color: $secondary;
    margin: 0 4%;
    margin-top: 120px;
    padding: 18px;
    border-radius: 8px;
    position: relative;

    @include breakpoint-down(small) {
        background: none;
        padding: 0;
        margin: 0 3%;
    }

    .top-bar-wrapper {
        color: $text-color-bbg;
        display: flex;
        padding-bottom: 2em;
        border-bottom: 1px solid $tertiary;

        @include breakpoint-down(small) {
            flex-direction: column;
        }

        .left {
            @include breakpoint-down(small) {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            h2 {
                margin-top: 6px;
                font-weight: 800;
            }

            .beat-image-container {
                position: relative;
                cursor: pointer;

                @include breakpoint-down(small) {
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(
                            360deg,
                            rgba(25, 25, 25, 1) 0%,
                            rgba(0, 212, 255, 0) 100%
                        );
                        pointer-events: none;
                    }
                }

                &:hover {
                    .play {
                        visibility: visible;
                        opacity: 1;
                        transform: translate(-50%, -50%) rotate(0) scale(1);
                    }

                    .beat-image {
                        filter: brightness(0.8);
                    }
                }

                .play {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 5rem;
                    z-index: 99;
                    user-select: none;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.2s ease-in-out;
                    transform-origin: center;
                    transform: translate(-50%, -50%) rotate(90deg) scale(1.4);

                    &.active {
                        visibility: visible !important;
                        transform: translate(-50%, -50%) rotate(0) scale(1);
                        opacity: 1 !important;
                    }

                    &.active + .beat-image {
                        filter: brightness(0.8) !important;
                    }
                }

                .beat-image {
                    width: 240px;
                    height: 240px;
                    object-fit: cover;
                    border-radius: 8px;
                    box-shadow: 4px 4px 20px rgba($color: #000000, $alpha: 0.4);

                    @include breakpoint-down(small) {
                        display: block;
                        width: 100vw;
                        height: 400px;
                        box-shadow: none;
                        border-radius: 0px;
                    }
                }
            }

            h2 {
                font-size: 2rem;

                @include breakpoint-down(small) {
                    font-size: 3rem;
                }
            }

            .beat-info {
                position: relative;
                color: whitesmoke;
                margin-top: 8px;
                cursor: default;
                display: flex;
                flex-wrap: wrap;
                gap: 8px;

                span {
                    background-color: $tertiary;
                    border-radius: 4px;
                    padding: 4px 12px;
                    font-weight: 300;
                }
            }

            .control-beat {
                display: flex;
                margin-top: 16px;
                gap: 8px;

                .icon {
                    font-size: 1.8rem;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                .likes {
                    display: flex;
                    align-items: center;

                    .counter {
                        margin-left: 2px;
                        font-weight: 600;
                    }
                }
            }
        }
        .right {
            margin-left: 18px;
            width: 100%;

            @include breakpoint-down(small) {
                margin: 0;
            }

            .licencing-title {
                font-size: 1.6rem;
                font-weight: 800;
            }

            .add-to-cart {
                display: flex;
                align-items: center;
                margin: 18px 0;

                .total-container {
                    display: flex;
                    flex-direction: column;

                    .total {
                        color: $gray;
                        font-size: 0.8rem;
                        font-weight: 600;
                    }
                }

                button {
                    margin-left: 28px;
                    display: block;
                    padding: 10px 20px;
                    background-color: $primary;
                    border: none;
                    border-radius: 8px;
                    cursor: pointer;
                    font-size: 1.1rem;
                    font-weight: 400;
                    color: #fff;

                    .icon {
                        margin-right: 4px;
                    }

                    &.incart {
                        background-color: $tertiary;
                        color: $text-color-gray-light;
                    }
                }
            }

            .licence-container {
                border-top: 1px solid $tertiary;
                display: flex;
                flex-wrap: wrap;
                margin-top: 24px;

                .licence {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    background-color: $tertiary;
                    border-radius: 8px;
                    padding: 10px 8px;
                    margin: 10px 0;
                    margin-right: 10px;
                    width: 280px;
                    cursor: pointer;
                    transition: 0.2s;

                    @media screen and (max-width: 949px) {
                        width: 100%;
                        margin-right: 0;
                    }

                    &.active {
                        outline: 3px solid $primary;
                        background-color: $primary-secondary;

                        &:hover {
                            filter: brightness(1.1);
                            background-color: $primary;
                        }
                    }

                    &:hover {
                        transform: scale(1.02);
                        background-color: $gray;
                    }

                    &:first-child {
                        margin-left: 0;
                    }

                    .title {
                        font-weight: 700;
                        font-size: 1.1rem;
                    }

                    .type {
                        color: rgb(208, 208, 208);
                        font-size: 0.74rem;
                    }
                }
            }

            .usage-terms {
                position: relative;
                overflow: hidden;
                background-color: $background;
                border-radius: 8px;
                padding: 8px;
                max-height: 58px;
                transition: 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                margin-top: 18px;

                &.active {
                    max-height: 100%;

                    .usage-title {
                        .icon {
                            transform: rotate(180deg);
                        }
                    }
                }

                .usage-title {
                    display: flex;
                    align-items: center;
                    font-size: 1.4rem;
                    padding-bottom: 12px;
                    border-bottom: 1px solid $tertiary;
                    cursor: pointer;

                    .icon {
                        font-size: 2.2rem;
                        transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        margin-top: 6px;
                    }
                }

                .bottom-usage {
                    margin-top: 12px;

                    .title-licence-usage {
                        display: block;
                        margin-bottom: 18px;
                    }

                    .terms {
                        display: grid;
                        grid-template-columns: repeat(3, minmax(0, 1fr));
                        column-gap: 32px;
                        // grid-template-rows: 32px;
                        grid-auto-rows: 1fr;

                        @media screen and (max-width: 949px) {
                            grid-template-columns: auto;
                            row-gap: 10px;
                        }

                        .term {
                            display: flex;
                            align-items: center;
                            font-size: 1.06rem;
                            color: rgb(208, 208, 208);

                            .icon {
                                font-size: 1.3rem;
                                margin-right: 8px;
                            }

                            @media screen and (max-width: 949px) {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .recommended-beats {
        color: $text-color-bbg;
        margin-top: 2em;
    }
}
